{% include 'arriba.html.twig' %} 


<div class="contenedor_general">
<div class="container_12">


    <div class="grid_6 push_3 form_consulta">
    

    
        <form name="frm" method="post" action="{{ path('login_check') }}" >
            <fieldset>
                <legend>autenticaci&oacute;n</legend>
                
                
                                
                <div class="separador"></div>
                   {% if error %}     
            <div class='error_index grid_4 push_1 form_consulta'>

                {% if error.message=='Bad credentials' %}
                 Los datos suministrados son incorrectos
                {% else %}    
                {{ error.message }}
                {% endif %}
            </div> 
            {% endif %}   
                <div class="separador"></div>
                
                
                <label class="largo" for="nombre">Usuario (*)</label>
                <input class="tres text" type="text" required="required" name="_username" id='_username' value="{{ last_username }}" />
                
                <div class="separador"></div>
            
                <label class="largo" for="seccion">Contrase&ntilde;a (*)</label>
                <input class="tres text"   type="password" required="required"  name="_password" id='_password' autocomplete="off" />
                
                <div class="separador"></div>
             
                <div class=" grid_2 push_2 form_consulta">
                    <input class="submit" type="submit" name="Submit" value="Ingresar" />  
                </div>
        
                <div class="separador"></div>
            </fieldset>
        </form>
        
    </div>
</div>

{% include 'abajo.html.twig' %}  