
<!--AC? TERMINA EL CONTENIDO-->
   </div>
 <div class="separador"></div>
<div class="pie" style="width:100%;text-align:center;">

<div>
    		<img src="{{ asset('images/logo_asi.png') }}"/>
        </div>
	</div>
  
</body>


</html>
