{% include 'arriba.html.twig' %}

{% include 'menu_amarillo.html.twig' %}
<div class="contenedor_general">   

    <div class="container_12">

Cache borrado
{{ res }}
</div>
</div>

{% include 'abajo.html.twig' %} 