






    <div class="container_12">
        {% include 'mensaje.html.twig' %} 
        <div class="clear" style="height:15px;"></div> 


        {{ dataTables|raw }}

        <div class="separador"></div>
        <div class=" grid_4 push_4 form_consulta">


        </div>

